services:
  docker-discord-alerts:
    container_name: docker-discord-alerts
    image: ghcr.io/rycochet/docker-discord-alerts:latest
    restart: unless-stopped
    privileged: true
    devices:
      - "/dev/zfs:/dev/zfs"
    environment:
      DISCORD_WEBHOOK_URL: "https://discord.com/api/webhooks/..." # Get this from Discord
      EXTRA: "" # Maybe ping someone with "<@USER_ID>"
      LOG_LEVEL: "INFO" # Normal linux log levels
      POOLS: "" # Empty for watching everything, space separated
      VERBOSE: "False" # Gives more information on alerts
      WEBSERVER: "True"

    # Can only enable if the WEBSERVER is enabled
    healthcheck:
      interval: "30s"
      timeout: "5s"
      retries: 3
      start_period: "10s"
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:8080/_ping || exit 1"
